:root {
   --primary: #fd906c; 
   --secondary: #be460e;
   --tertiary: #8a3006;
   --accent: #ffffff;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top-border {
    font-size: 24px;
    color: var(--accent);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.top-border a {
    text-decoration: none;
    color: inherit;
}
 ul {
    list-style-type: none;
}
main {
    text-align: center;
}
#viewArea {
    margin: 0 auto;
    color: var(--accent);
    text-align: center;
}
.start-button {
    font-size: 28px;
    background-color: var(--tertiary);
    color: var(--primary);
}
.start-button:hover {
    background-color: var(--secondary);
}
.options button{
    display: block;
    font-size: 18px;
    padding: 5px 10px;
    color: var(--tertiary);
    background-color: var(--accent);
    margin: 30px auto;
    width: 40%;
}

.options button:hover {
    background-color: var(--secondary);
    color: var(--accent);
}
#notification {
    font-size: 30px;
    font-style: italic;
}
.right{
    color: green;
}
.wrong {
    color: red;
}
.init {
    font-size: 24px;
    color: var(--tertiary);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
#hiscore {
    display: none;
}